body {
	background-image: url('stardust.png');
	color: #d3d3d3;
}

header {
	text-align: center;
	font-size: 5em;
	text-decoration: underline;
}

.product {
	border: .3em solid #000;
}

.product-group {
	display: inline-block;
	margin: 1em;
}

.top {
	vertical-align: top;
}

